{% extends "base.html" %}

{% block title %}Trade Invest - Home{% endblock %}



{% block head_styles %}
    <style>
        .main-content {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            overflow: hidden;
        }
        .bouncing-text {
            font-size: 8rem;
            font-weight: 800;
            color: #ffffff;
            text-shadow: 0 0 8px rgba(0, 255, 255, 0.4),
                         0 0 15px rgba(0, 255, 255, 0.25),
                         0 0 20px rgba(0, 255, 255, 0.15);
            animation: bounce 2s infinite alternate ease-in-out;
        }
        @keyframes bounce {
            from { transform: translateY(0); }
            to { transform: translateY(-20px); }
        }
    </style>
{% endblock %}

{% block content %}
<div class="main-content">
    <div class="bouncing-text">TradeInvest</div>
</div>
{% endblock %}